<!-- Sidebar (le widget) -->
<div
	class="col-3">

	<!-- Code du widget -->
	<div id="widget">

		{% if weatherInWidget is not null %}

			<!-- Si ville sélectionnée -->
			<p>
				<b>{{ weatherInWidget.city }}</b>
			</p>
			<p>{{ weatherInWidget.date }}</p>
			<p><img src="{{ asset( 'images/' ~ weatherInWidget.weather ~ '.png' ) }}"></p>
			<p>{{ weatherInWidget.min }}°C / {{ weatherInWidget.max }}°C</p>

		{% else %}

			<!-- Si ville non sélectionnée -->
			<div>Vous n'avez sélectionné <br>aucune ville favorite sur la page d'accueil je ne peux donc pas vous aider :'(</div>

		{% endif %}

	</div>

</div></div></main>
