<!-- Sidebar (le widget) -->
<div
	class="col-3">

	<!-- Code du widget -->
	<div id="widget">

	{% set widget = app.session.get('widget')%}

		{% if widget is not null %}

			<!-- Si ville sélectionnée -->
			<p><b>{{ widget.weather.city }}</b></p>
			<p>{{ widget.weather.date }}</p>
			<p><img src="{{ asset( 'images/' ~ widget.weather.weather ~ '.png' ) }}"></p>
			<p>{{ widget.weather.min }}°C / {{ widget.weather.max }}°C</p>

		{% else %}

			<!-- Si ville non sélectionnée -->
			<p><img src="{{ asset( 'images/orage.png' ) }}"></p>
			<div>Vous n'avez sélectionné <br>aucune ville favorite sur la page d'accueil je ne peux donc pas vous aider :'(</div>

		{% endif %}

	</div>

</div></div></main>
