<!-- Sidebar (le widget) -->
<div
	class="col-3">

	<!-- Code du widget -->
	<div id="widget">

		{% if app.session.get('widget') is not null %}

			<!-- Si ville sélectionnée -->
			<p>
				<b>{{ app.session.get('widget').weather.city }}</b>
			</p>
			<p>{{ app.session.get('widget').weather.date }}</p>
			<p><img src="{{ asset( 'images/' ~ app.session.get('widget').weather.weather ~ '.png' ) }}"></p>
			<p>{{ app.session.get('widget').weather.min }}°C / {{ app.session.get('widget').weather.max }}°C</p>

		{% else %}

			<!-- Si ville non sélectionnée -->
			<p><img src="{{ asset( 'images/orage.png' ) }}"></p>
			<div>Vous n'avez sélectionné <br>aucune ville favorite sur la page d'accueil je ne peux donc pas vous aider :'(</div>

		{% endif %}

	</div>

</div></div></main>
